/* Add this CSS to your stylesheet */
.img-container {
    position: relative;
    overflow: hidden;
    width: 90px;
    border-radius: 7px;
    padding: 5px;
  }
  
  .img-container img {
    transition: filter 0.3s ease-in-out;
  }
  
  .img-container:hover img {
    filter: blur(3px); /* Adjust the blur amount as needed */
  }
  
  .cross-icon {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.7);
    color: rgb(0, 0, 0);
    padding: 2px;
    width: 20px;
    height: 20px;
    border-radius: 10%;
    transition: opacity 0.2s;
    opacity: 0;
  }
  
  .img-container:hover .cross-icon {
    opacity: 1;
  }
  