.container{
    align-items: center;
    justify-content: center;
    max-width: 800px;
    max-height: 500px;  
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.card{
    max-height:500px
}
.card-container {
    max-width: 10rem; /* Adjust the value to your desired width */
  }
  .card-content {
    width: 100%; /* Adjust the width as needed */
    max-width: 15rem; /* To limit the maximum width */
    margin: 0 auto; /* Center the content horizontally */
  }

  @media (min-width: 650px) {
    /* Adjust layout for larger screens */
    .max-w-screen-lg {
      max-width: 32rem;
    }
    .imagewidth{
        width: 40%;
    }
    .main{
        margin: 10px;
    }
  }
